@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;

}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.hero-content {
  top: 30%;
}

.btns .btn {
  width: 180px;
}

.linee {
  width: 100px;
  height: 4px;
  margin-top: 8px;
}